<a href="https://colab.research.google.com/github/Hira63S/DS-Unit-1-Sprint-2-Data-Wrangling/blob/master/Hira_LS_DS_122_Join_datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Join datasets

Objectives
- concatenate data with pandas
- merge data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
  - Combine Data Sets: Standard Joins
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join

## Download data

We’ll work with a dataset of [3 Million Instacart Orders, Open Sourced](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2)!

In [1]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-03-26 16:03:44--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.232.237
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.232.237|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  96.3MB/s    in 2.0s

2019-03-26 16:03:47 (96.3 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [2]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [3]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [4]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

## Goal: Reproduce this example

The first two orders for user id 1:

In [0]:
from IPython.display import display, Image
url = 'https://cdn-images-1.medium.com/max/1600/1*vYGFQCafJtGBBX5mbl0xyw.png'
example = Image(url=url, width=600)

display(example)

## Load data

Here's a list of all six CSV filenames

In [0]:
!ls -lh

For each CSV
- Load it with pandas
- Look at the dataframe's shape
- Look at its head (first rows)
- `display(example)`
- Which columns does it have in common with the example we want to reproduce?

### aisles

In [0]:
import pandas as pd
aisles = pd.read_csv('aisles.csv')

In [8]:
aisles.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [7]:
aisles.shape

(134, 2)

### departments

In [0]:
departments = pd.read_csv('departments.csv')

In [12]:
departments.shape

(21, 2)

### order_products__prior

In [0]:
prior_orders = pd.read_csv('order_products__prior.csv')

In [69]:
prior_orders.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [45]:
prior_orders.head(10)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0
5         2       17794                  6          1
6         2       40141                  7          1
7         2        1819                  8          1
8         2       43668                  9          0
9         3       33754                  1          1

In [24]:
prior_orders.groupby('order_id')['product_id'].count().mean()

10.088883421247614

### order_products__train

In [0]:
orders_train = pd.read_csv('order_products__train.csv')

In [68]:
orders_train.head(20)

    order_id  product_id  add_to_cart_order  reordered
0          1       49302                  1          1
1          1       11109                  2          1
2          1       10246                  3          0
3          1       49683                  4          0
4          1       43633                  5          1
5          1       13176                  6          0
6          1       47209                  7          0
7          1       22035                  8          1
8         36       39612                  1          0
9         36       19660                  2          1
10        36       49235                  3          0
11        36       43086                  4          1
12        36       46620                  5          1
13        36       34497                  6          1
14        36       48679                  7          1
15        36       46979                  8          1
16        38       11913                  1          0
17        38       18159                  2          0
18        38        4461                  3          0
19        38       21616                  4          1

### order-products_prios has 
-order_id
_product_id
-add_to_card_order
-reordered

### orders

In [0]:
orders = pd.read_csv('orders.csv')

In [27]:
orders.shape

(3421083, 7)

In [35]:
orders.head(3)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0

### products

In [0]:
products = pd.read_csv('products.csv')

In [66]:
products.head

<bound method NDFrame.head of        product_id                                       product_name  \
0               1                         Chocolate Sandwich Cookies
1               2                                   All-Seasons Salt
2               3               Robust Golden Unsweetened Oolong Tea
3               4  Smart Ones Classic Favorites Mini Rigatoni Wit...
4               5                          Green Chile Anytime Sauce
5               6                                       Dry Nose Oil
6               7                     Pure Coconut Water With Orange
7               8                  Cut Russet Potatoes Steam N' Mash
8               9                  Light Strawberry Blueberry Yogurt
9              10     Sparkling Orange Juice & Prickly Pear Beverage
10             11                                  Peach Mango Juice
11             12                         Chocolate Fudge Layer Cake
12             13                                  Saline Nasal Mist
13             14                     Fresh Scent Dishwasher Cleaner
14             15                           Overnight Diapers Size 6
15             16                      Mint Chocolate Flavored Syrup
16             17                                  Rendered Duck Fat
17             18                Pizza for One Suprema  Frozen Pizza
18             19   Gluten Free Quinoa Three Cheese & Mushroom Blend
19             20     Pomegranate Cranberry & Aloe Vera Enrich Drink
20             21                   Small & Medium Dental Dog Treats
21             22                  Fresh Breath Oral Rinse Mild Mint
22             23                             Organic Turkey Burgers
23             24  Tri-Vi-Sol® Vitamins A-C-and D Supplement Drop...
24             25            Salted Caramel Lean Protein & Fiber Bar
25             26        Fancy Feast Trout Feast Flaked Wet Cat Food
26             27  Complete Spring Water Foaming Antibacterial Ha...
27             28                                  Wheat Chex Cereal
28             29  Fresh Cut Golden Sweet No Salt Added Whole Ker...
29             30         Three Cheese Ziti, Marinara with Meatballs
...           ...                                                ...
49658       49659                            Organic Creamed Coconut
49659       49660                        Professionals Sleek Shampoo
49660       49661                                              Porto
49661       49662                       Bacon Cheddar Pretzel Pieces
49662       49663  Ultra Protein Power Crunch Peanut Butter N' Ho...
49663       49664                     Lemon Cayenne Drinking Vinegar
49664       49665      Super Dark Coconut Ash & Banana Chocolate Bar
49665       49666                      Ginger Snaps Snacking Cookies
49666       49667           Enchilada with Spanish Rice & Beans Meal
49667       49668                     Apple Cinnamon Scented Candles
49668       49669                                   K Cup Dark Blend
49669       49670                                Beef Summer Sausage
49670       49671                               Milk Chocolate Drops
49671       49672                             Cafe Mocha K-Cup Packs
49672       49673              Stone Baked Multi Grain Artisan Rolls
49673       49674            Frozen Greek Yogurt Bars Chocolate Chip
49674       49675                Cinnamon Dolce Keurig Brewed K Cups
49675       49676                             Ultra Red Energy Drink
49676       49677                    Thick & Chunky Sloppy Joe Sauce
49677       49678                    Large Chicken & Cheese Taquitos
49678       49679                            Famous Chocolate Wafers
49679       49680                 All Natural Creamy Caesar Dressing
49680       49681            Spaghetti with Meatballs and Sauce Meal
49681       49682                                 California Limeade
49682       49683                                     Cucumber Kirby
49683       49684          Vodka, Triple Distilled, Twist of Vanilla
49684       49685                 En Croute Roast Hazelnut Cranberry
49685       49686                                   Artisan Baguette
49686       49687         Smartblend Healthy Metabolism Dry Cat Food
49687       49688                             Fresh Foaming Cleanser

       aisle_id  department_id
0            61             19
1           104             13
2            94              7
3            38              1
4             5             13
5            11             11
6            98              7
7           116              1
8           120             16
9           115              7
10           31              7
11          119              1
12           11             11
13           74             17
14           56             18
15          103             19
16           35             12
17           79              1
18           63              9
19           98              7
20           40              8
21           20             11
22           49             12
23           47             11
24            3             19
25           41              8
26          127             11
27          121             14
28           81             15
29           38              1
...         ...            ...
49658        17             13
49659        22             11
49660       134              5
49661       107             19
49662        57             14
49663       100             21
49664        45             19
49665        61             19
49666        38              1
49667       101             17
49668       100             21
49669       106             12
49670        45             19
49671        26              7
49672       129              1
49673        37              1
49674        26              7
49675        64              7
49676        59             15
49677       129              1
49678        61             19
49679        89             13
49680        38              1
49681        98              7
49682        83              4
49683       124              5
49684        42              1
49685       112              3
49686        41              8
49687        73             11

[49688 rows x 4 columns]>

** prodcuts has:
- product_id
-product_name

## Concatenate order_products__prior and order_products__train

In [0]:
#both products prior and products train
order_products = pd.concat([prior_orders, orders_train])

In [47]:
order_products.shape, prior_orders.shape, orders_train.shape

((33819106, 4), (32434489, 4), (1384617, 4))

In [0]:
assert (len(order_products)) == len(prior_orders) + len(orders_train)

In [0]:
assert (len(order_products.columns)==
       len(prior_orders.columns) ==
        len(orders_train.columns))

In [0]:
rows, columns = order_products.shape

## Get a subset of orders — the first two orders for user id 1

**from orders dataframe:**
- user_id
- order_id
- order_number
- order_dow
- order_hour_of_day

In [52]:
condition = order_products['order_id'] == 2539329

order_products[condition]

          order_id  product_id  add_to_cart_order  reordered
24076664   2539329         196                  1          0
24076665   2539329       14084                  2          0
24076666   2539329       12427                  3          0
24076667   2539329       26088                  4          0
24076668   2539329       26405                  5          0

In [55]:
orders['order_number'].describe()

count    3.421083e+06
mean     1.715486e+01
std      1.773316e+01
min      1.000000e+00
25%      5.000000e+00
50%      1.100000e+01
75%      2.300000e+01
max      1.000000e+02
Name: order_number, dtype: float64

In [54]:
orders[(orders['user_id']==1) & (orders['order_number']<=2)] #

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0

In [0]:
conditions = (orders['user_id'] == 1) & (orders['order_number'] <= 2)

columns = ['user_id',
          'order_id',
          'order_number',
          'order_dow',
          'order_hour_of_day']

subset = orders.loc[conditions, columns]

## Merge dataframes

merge the subset from order with columns from order products

then merge with columns from 'products'

In [59]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [0]:
merged = pd.merge(subset, order_products[['order_id', 'add_to_cart_order', 'product_id']])

In [65]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [0]:
final= pd.merge(merged, products[['product_id', 'product_name']])

In [78]:
merged.shape, products[['product_id', 'product_name']].shape, final.shape

((11, 7), (49688, 2), (11, 8))

In [79]:
final

,user_id,order_id,order_number,order_dow,order_hour_of_day,add_to_cart_order,product_id,product_name
0,1,2539329,1,2,8,1,196,Soda
1,1,2398795,2,3,7,1,196,Soda
2,1,2539329,1,2,8,2,14084,Organic Unsweetened Vanilla Almond Milk
3,1,2539329,1,2,8,3,12427,Original Beef Jerky
4,1,2398795,2,3,7,3,12427,Original Beef Jerky
5,1,2539329,1,2,8,4,26088,Aged White Cheddar Popcorn
6,1,2398795,2,3,7,5,26088,Aged White Cheddar Popcorn
7,1,2539329,1,2,8,5,26405,XL Pick-A-Size Paper Towel Rolls
8,1,2398795,2,3,7,2,10258,Pistachios
9,1,2398795,2,3,7,4,13176,Bag of Organic Bananas
10,1,2398795,2,3,7,6,13032,Cinnamon Toast Crunch

**Which columns have them?**

products columns, and order_number, order_id
add_to_cart_orders

# Assignment

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

## Stretch challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.